# Default ignored files
debug.log
.idea/

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven
target/
test-output/

# IntelliJ project files
*.iml
*.iws
*.ipr

# Ingore target directories
api/target
ui/target
common-utils/target